.Intro-background-img-frame {
  background-color: rgba(0, 0, 0, 0.449);
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 333333;
}
.Intro-Signin-Background {
  height: 100vh;
  position: absolute;
  width: 100%;
  image-resolution: from-image 300dpi;
  height: 100%;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.486);
  border-radius: 8px;
  object-fit: cover;
}
.dad-Intro-SignIn-Frame {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Intro-SignIn-Frame {
  position: absolute;
  width: 50%;
  height: 80%;
  background-color: #ffffff41;
  border-radius: 50px;
}
.Intro-sign-in-container {
  padding: 2rem;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 4449999;
}
.Intro-sign-in-container h2 {
  color: #020346 !important;
  font-weight: 900 !important;
  font-size: 50px;
}
.Tow-card{
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Comapnies{
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d967;
  color: black;
  height: 100%;
  width: 100%;
  margin-right: 50px;
  z-index: 55555555;
}
.Personal {
border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d967;
  width: 100%;
  color: black;
  height: 100%;
}
